@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/MontserratBold.ttf");
}
@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "MontserratLight";
    src: url("../fonts/Montserrat-Light.ttf");
}
body, html{
    min-width: 1200px;
    height: 100%;
    overflow-x: hidden;
}
.main-container {
    margin: 0 auto;
}
.head-part{
    content: "";
    background-image: url("../img/First-header.jpg");
    background-size: cover;
    height: 1012px;
    width: 100%;
}
.logo-menu-container{
    display: flex;
    align-items: center;
    margin-left: 70px;
    text-decoration: none;
    color: #F2F2F2;
}
.main-head{
    display: flex;
    justify-content: space-between;
    height: 120px;
    flex-wrap: nowrap;
    background-color: rgba(0,0,0,0.3);
}
.head-logo{
    display: flex;
}
.logo-white-text{
    color: #FFF;
    font-size: 25px;
    font-family: MontserratLight;
}
.logo-white-text2{
    color: #FFF;
    font-size: 35px;
}
.logo-white-text3{
    color: #FFF;
    font-size: 69px;
}
.logo-blue-text2{
    color: #18CFAB;
    font-size: 35px;
}
.logo-blue-text{
    color: #18CFAB;
    font-size: 25px;
    font-family: MontserratBold;
}
.logo-letter-h{
    display: flex;
    position: relative;
    right: 44px;
    font-size: 42px;
    color: #FFF;
}
.logo-text{
    margin-left: -20px;
}
.head-menu{
    margin-left: 120px;
}
.head-menu-links{
    padding: 50px 16px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0);
    font-size: 13px;
    font-family: MontserratBold;
    margin-top: 5px;
    cursor: pointer;
}
.head-menu-links:hover{
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}
.head-menu-links{
    padding-left: 7px;
}
.fas{
    margin-left: 17px;
    margin-top: 5px;
    cursor: pointer;
}
.ham-main-info{
    text-align: center;
    margin-top: 246px;
    text-transform: uppercase;

}
.ham-main-info-1{
    font-size: 35px;
    font-family: MontserratBold;
}
.ham-main-info-2{
    font-size: 69px;
    margin-top: 45px;
    font-family: MontserratBold;
}
.ham-main-info-3{
    margin-top: 36px;
    font-size: 30px;
    color: #D4D4D4;
    font-family: MontserratLight;
}
.green-button, .blue-button{
    margin-top: 145px;
    width: 162px;
    height: 62px;
    border-radius: 5px;
    border-top: 4px solid #FFF;
    text-transform: uppercase;
    color: #FFF;
    font-size: 13px;
    font-family: MontserratBold;
}
.green-button{
    background-color: #18CFAB;
    cursor: pointer;
}
.blue-button{
    background-color: #00CBF6;
    cursor: pointer;
}
.green-button:hover{
     border-top: 6px solid #FFF;
 }
.blue-button:hover{
    border-top: 6px solid #FFF;
}
.options{
    display: flex;
}
.option1, .option3{
    min-width: 335px;
    height: 215px;
    background-color: #1C2A33;
    text-align: center;
    border-top: 4px solid #18CFAB;
}
.option2, .option4{
    min-width: 300px;
    height: 215px;
    background-color: #18CFAB;
    text-align: center;
    border-top: 4px solid #FFF;
}
.Forma1, .Forma2, .Forma3, .Forma4{
    margin-top: 35px;
}
.forma-text-13{
    margin-top: 10px;
    font-family: MontserratBold;
    text-transform: uppercase;
    color: #18cfab;
}
.forma-text-24{
    margin-top: 30px;
    font-family: MontserratBold;
    text-transform: uppercase;
    color: #fff;
}
.third-part-container{
    width: 1143px;
    text-align: center;
    margin: 82px auto;
}
.blue-lines{
    text-align: -webkit-center;
}
.first-blue-line, .second-blue-line{
    width: 77px;
    height: 2px;
    background-color: #18CFAB;
}
.second-blue-line{
    margin-top: 2px;
    margin-left: 30px;
}
.blue-lines2{
    text-align: -webkit-center;
    margin-bottom: 69px;
}
.first-blue-line, .second-blue-line{
    width: 77px;
    height: 2px;
    background-color: #18CFAB;
}
.second-blue-line{
    margin-top: 2px;
    margin-left: 30px;
}
.nav-design-options{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 69px;
}
.button-options{
    width: 194px;
    height: 73px;
    position: relative;
    background-color: #F8FCFE;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #ebebeb;
    cursor: pointer;
    color: #717171;
    font-size: 16px;
    font-family: MontserratRegular;
}
.nav-design-options div:hover, .nav-design-options.active{
    background-color: #18cfab;
    color: #FFFFFF;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 55% 85%, 50% 100%, 45% 85%, 0% 85%);
}
.tab-content{
    display: none;
    font-family: MontserratLight;
    color: #777777;
    text-align: left;
}
.service-images{
    margin-right: 20px;
}
.button-options.active{
    background-color: #18cfab;
    color: #FFFFFF;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 55% 85%, 50% 100%, 45% 85%, 0% 85%);
}
.tab-content.active{
    display: flex;
}
.fourth-part-container{
    text-align: center;
    background-size: cover;
    content: "";
    height: 476px;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/section4BG.jpg") center no-repeat fixed;
    margin-top: 102px;
}
.four-section-text1{
    padding-top: 127px;
    font-size: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    font-family: MontserratBold;
}
.four-section-text2{
    margin-top: 35px;
    font-size: 16px;
    color: #D8D8D8;
    font-family: MontserratRegular;
}
.purchase-button{
    width: 162px;
    height: 62px;
    border-radius: 5px;
    border-top: 4px solid #FFF;
    text-transform: uppercase;
    color: #FFF;
    font-size: 13px;
    background-color: #18CFAB;
    cursor: pointer;
    margin-top: 75px;
    font-family: MontserratBold;
}
.purchase-button:hover{
    border-top: 6px solid #FFF;
}
.fifth-part-container{
    background-color: #F8FCFE;
    text-align: center;
    margin-top: 96px;
}
.our-work{
    font-family: MontserratRegular;
    font-size: 36px;
    color: #4E4E4E;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.second-tabs-container{
    margin-top: 93px;
    display: flex;
    justify-content: center;
    background-color: #F8FCFE;
}
.button-tabs-second{
    display: flex;
    width: 150px;
    border: 0.5px solid #ebebeb;
    cursor: pointer;
    height: 58px;
    justify-content: center;
    align-items: center;
    border-top: 1px #F8FCFE solid;
    font-size: 14px;
    color: #4E4E4E;
}
.button-tabs-second:hover{
    color: #18cfab;
    border-top: 1px #18cfab solid;
}
.gallery-tabs-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 71px auto 0 0;
    justify-content: center;
}
.tabs-content-second{
    display: flex;
    position: relative;
}
.img-hover{
    position: absolute;
    text-align: center;
    width: 285px;
    height: 206px;
    border-top: 3px solid #18cfab;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: none;

}
.img-hover .icon1, .img-hover .icon2{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
}
.img-hover .icon1{
    border: 1px solid #18cfab;
    background-color: #fff;
    margin-right: 5px;
    left: 85px;
    top: 30px;
}
.img-hover .icon2{
    background-color: #18cfab;
    margin-right: 5px;
    left: 150px;
    bottom: 21px;
}
.img-hover. .icon1 img{
    width: 20px;
    height: 20px;
    position: relative;
}
.img-hover .icon2 i{
    color: #fff;
    position: relative;
    top: 13px;
    left: -7px;
}
.chain{
    margin-top: 16px;
}
.tabs-content-second:hover .img-hover{
    display: block;
}
.load-button{
    margin-top: 70px;
    margin-bottom: 100px;
    width: 162px;
    height: 62px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 13px;
    background-color: #18CFAB;
    cursor: pointer;
    font-family: MontserratBold;
}
.load-button:hover{
    font-size: 17px;
}
.sort24{
    display: none
    !important;
}
.breaking-container{
    margin-top: 84px;
}
.breaking-title{
    text-align: -webkit-center;
    font-size: 36px;
    font-family: MontserratRegular;
    color: #4E4E4E;
    margin-bottom: 28px;
}
.breaking-gallery{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    position: relative;
}
.gallery-first-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 40px;
}
.gallery-second-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 90px;
}
.comments div{
    display: inline-block;
    color:  #777777;
    position: relative;
    left:20px;
}
.comments{
    position: relative;
    right: 19px;
    overflow: hidden;
    margin-left: 12px;
    margin-top: 5px;
}
.amazing-post{
    margin-left: 13px;
    font-family: MontserratBold;
    font-size: 18px;
}
.admin{
    font-family: MontserratRegular;
    font-size: 14px;
}
.grey-line-break{
    width: 0.5px;
    height: 10px;
    background-color: #777777;
    margin-left: 10px;
    margin-right: 10px;
}
.comment-style{
    font-size: 14px;
    font-family: MontserratRegular;
}
.break-img-container{
    position: relative;
}
.date-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: absolute;
    margin-left: 198px;
    color:#fff;
    background-color: #203e38;
    width: 65px;
    height: 65px;
    margin-top: -211px;
}
.date-container:hover{
    background-color: #18cfab;
}
.date{
    margin-top: 5px;
    font-family: MontserratRegular;
    font-size: 16px;
}
.title {
    text-decoration: none;
    background-color: #f8fcfe;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding: 0;
    height: 43px;
}
.title:hover {
    color: #18cfab;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #717171;
}
.hover-text1{
    font-family: MontserratBold;
    color: #18cfab;
    font-size: 24px;
}
.hover-text2{
    font-size: 20px;
    margin-top: 14px;
    font-family: MontserratLight;
    color: #8A8A8A;
}
.services{
    font-family: MontserratRegular;
    font-size: 36px;
    color: #4E4E4E;
    margin-bottom: 35px;
}
.plus{
    font-size: 17px;
}
.what-people-say-container{
    content: "";
    height: 970px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/last-bg.png") no-repeat bottom center fixed;
    background-size: cover;
}
.title-part{
    text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 99px;
}
.what-say-title{
    margin-bottom: 30px;
    font-size: 36px;
    font-family: MontserratRegular;
}
.commas{
    text-align: center;
    margin-top: 67px;
    margin-bottom: 44px;
}
.slider-container{
    height: 425px;
}
.slider-container img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 1px 0px 7px rgba(31, 218, 181, 0.2);
    border:4px solid #18cfab;
    border-radius: 50%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    top:68px;
}
.slider-text {
    width: 1000px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #bbbbbb;
    font-size: 16px;
    font-family: MontserratLight;
    font-weight: 300;
    line-height: 1.875;
    margin-bottom: 30px;
}
.name {
    text-align: center;
    font-family: MontserratBold;
    font-size: 16px;
    color: #18cfab;
}
.position {
    margin-top: 10px;
    text-align: center;
    font-family: MontserratLight;
    font-size: 16px;
    color: #BBBBBB;
}
.carousel-container{
    margin: 100px auto;
    max-width: 530px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.client-portrait{
    width: 60px;
    position: relative;
    left: 90px;
    box-shadow: 0px 1px 0px 7px rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    bottom: 13px;
}
.images-items{
    width: 90px;
    height: 77px;
    text-align: center;
    position: relative;
    top: 12px;
    margin: 40px auto;
    cursor: pointer;
}
.slick-slide {
    width: 120px;
    outline: none;
}
.carousel-container .slick-active{
    position: relative;
    bottom: 10px;
}
.slick-active img{
    border:2px solid #18cfab;
}
.prev-button{
    width: 40px;
    height: 30px;
    border:1px solid #fff;
    color:#fff;
    background: initial;
    cursor: pointer;
    position: relative;
    top: 13px;
    left: -15px;
}
.next-button{
    width: 40px;
    height: 30px;
    border:1px solid #fff;
    color:#fff;
    background: initial;
    cursor: pointer;
    position: relative;
    top: 14px;
    left: 15px;
}
.prev-button:hover, .next-button:hover{
    background: #18cfab;
}
.the-end{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 109px;
    background-color: #22353f;
    color: #aeaeae;
    font-size: 14px;
    font-family: MontserratLight;
}
.ham-link{
    color: #18cfab;
}